<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Run all tests" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
    <test name="Run all tests" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.vix.whisper.test.RunCukesTest"/>
            <class name="com.vix.whisper.test.FailedTestReRun"/>
        </classes>
    </test>
</suite>